.true {
  background-color: lightseagreen;
}

.false {
  background-color: rgb(178, 32, 134);
}
.Button {
  flex-wrap: wrap;
  margin-left: 20px;
  border-radius: 12px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  /* border: 2px solid black; */
  cursor: pointer; 
  /* background-color: white; */
}
.Button:active {
  background: darkcyan;
}

